# =========================
# DATA FILES
# =========================
data/
*.csv

# =========================
# OUTPUTS (models, logs, temp)
# =========================
outputs/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# VIRTUAL ENVIRONMENTS
# =========================
venv/
.venv/
.env/

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS & TEMP FILES
# =========================
*.log
*.tmp
*.temp

# =========================
# EDITORS
# =========================
.vscode/
.idea/

# =========================
# BUILD FILES
# =========================
build/
dist/
*.egg-info/

# =========================
# ENV FILES
# =========================
.env
.env.local

# =========================
# STREAMLIT
# =========================
.streamlit/

# =========================
# BACKUP FILES
# =========================
*.bak
*.swp