
data/
*.csv



outputs/*.pkl
outputs/*.png
outputs/*.json
outputs/*.log



**pycache**/
*.py[cod]
*.pyo



venv/
.env/
.venv/



.ipynb_checkpoints/



.DS_Store
Thumbs.db



*.log
*.tmp
*.temp


.vscode/
.idea/



build/
dist/
*.egg-info/



.env
.env.local



.streamlit/



*.bak
*.swp
